#site-title span.a {
  animation: colorA 2000ms;
}
#site-title span.b {
  animation: colorB 2000ms;
}
#site-title span.c {
  animation: colorC 2000ms;
}

@keyframes colorA {
  0% {
    color: #999;
    opacity: 0;
    margin-left: -5px;
  }
  10% {
    opacity: 0;
  }
  45% {
    opacity: 1;
    color: #999;
  }
  55% {
    color: #ef3d5b;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes colorB {
  0% {
    opacity: 0;
    color: #999;
    padding-left: 10px;
  }
  15% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  45% {
    color: #999;
  }
  70% {
    padding-left: 0px;
  }
  100% {
    color: #69cce2;
  }
}

@keyframes colorC {
  0% {
    color: #999;
    opacity: 0;
    margin-left: -20px;
  }
  30% {
    opacity: 0;
  }
  60% {
    margin-left: 0px;
    opacity: 1;
  }
  70% {
    color: #999;
  }
  100% {
    color: #f9be38;
  }
}

.scrollimg {
  height: 40px;
}
#scrolldown {
  animation: slidesUp 3000ms;
  z-index: 3;
}

@keyframes slidesUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  90% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.scrollimg img {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    margin-top: 0px;
  }
  20% {
    margin-top: 10px;
  }
  40% {
    margin-top: 0px;
  }
}

#logo img {
  animation: fadeFromOut 3500ms;
}

@keyframes fadeFromOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#project .proj-title {
  animation: fadesUp 3000ms;
}
#project .proj-details {
  animation: fadesIn 3000ms;
}

@keyframes fadesUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  70% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadesIn {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#proj-background {
  animation: fadeInSlowww 6000ms;
}

@keyframes fadeInSlowww {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#c1 img{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1s ease-out;
}
#c1.animate img{
  opacity: 1;
  transform: translateX(0px);
}
#c1 .txt {
  opacity: 0;
  transition: opacity 500ms ease-out, transform 220ms ease-out;
  color: transparent;
  transform: translateX(40px);
}
#c1.animate .txt {
  opacity: 1;
  color: #5f5f5f;
  transform: translateX(0px);
}
#c2 img{
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 1s, transform ease-out;
}
#c2.animate img{
  opacity: 1;
  transform: translateX(0px);
}
#c2 .txt {
  opacity: 0;
  transform: translateX(50px);
  color: transparent;
  transition: opacity 1s, transform 1s ease-out;
}
#c2.animate .txt {
  opacity: 1;
  transform: translateY(0px);
  color: #5f5f5f;
}
#c3 img{
  opacity: 0;
  transform: translateX(-120px);
  transition: opacity 1s, transform 550ms ease-out;
}
#c3.animate img{
  opacity: 1;
  transform: translateX(0px);
}
#c3 .txt {
  opacity: 0;
  color: transparent;
  transform: translateX(50px);
  transition: opacity 220ms, transform 1s ease-out;
}
#c3.animate .txt {
  opacity: 1;
  color:#5f5f5f;
  transform: translateX(0px);
}

#cgallery .txtgal {
  opacity: 0;
  transition: all 500ms;
}
#cgallery.animate .txtgal {
  opacity: 1;
}
#cgallery #fullpage {
  opacity: 0;
  transform: perspective(100px) translateZ(10px);
  transition: all 500ms;
}
#cgallery.animate #fullpage {
  opacity: 1;
  transform: perspective(100px) translateZ(0px);
}
#prjs .txtgal {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 500ms;
}
#prjs.animate .txtgal {
  opacity: 1;
  transform: translateY(0px);
}
#prjs .row .column {
  opacity: 0;
}
#prjs.animate .row .column:nth-of-type(1) {
  opacity: 1;
  transition: all 500ms;
}
#prjs.animate .row .column:nth-of-type(2) {
  opacity: 1;
  transition: all 500ms 200ms;
}
#prjs.animate .row .column:nth-of-type(3) {
  opacity: 1;
  transition: all 500ms 400ms;
}
#prjs.animate .row .column:nth-of-type(4) {
  opacity: 1;
  transition: all 500ms 600ms;
}
