body, html{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	height: 100%;
	color: #323232
    background: #f2f2f2;
}

span.c {
    color: #f9be38;
    position: relative;
    bottom: 3rem;
    bottom: 4vw;
}

span.b {
    color: #69cce2;
    position: relative;
    bottom: 1vw;
}

span.a {
    color: #ef3d5b;
}

a{color: #323232;}
a:hover{color: #008dee;}

header#header{
	height: 100%;
	position: relative;
}

div#site-title {
	position: relative;
	z-index: 9;

	font-size: 14rem;
	font-size: 11.65vw;

	line-height: 11rem;
	line-height: 9.25vw;

	top: -16px;
	right: 13px;

	top: -1vw;
	right: 1vw;
}

div#site-title > span {
    display: block;
    font-weight: 900;
}

#site-title i {
    font-weight: 300;
    color: #323232;
    font-size: 7vw;
    position: relative;

    bottom: 32px;
    left: 27px;

    bottom: 1.8vw;
    left: 1vw;
}

div#logo {
    position: absolute;
    z-index: 9;

    top: 11rem;
    right: 30rem;
    width: 40rem;

    top: 9vw;
    right: 30vw;
    width: 30vw;
}

#proj-background {
    position: absolute;
    z-index: 1;

    top: 13rem;
    width: 97rem;
    right: -37rem;

    top: 0;
    width: 80vw;
    right: -30vw;
}

div#scrolldown {
	position: absolute;
	bottom: 1rem;
	bottom: 1vw;
	width: 6vw;
	left: 0;
	right: 0;
	margin: auto;
	opacity: .8;

	font-size: 1vw;
	text-align: center;
}

span.scrolltxt {
    position: relative;
    bottom: 10px;
    bottom: 1vw;
}

span.scrollimg {
    width: 3vw;
    position: relative;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
}

div#project {
    position: relative;
    z-index: 9;

    top: 4rem;
    left: 4rem;

    top: 4vw;
    left: 4vw;


}

#project span {
    display: block;
    line-height: 1;
}

span.head1 {
    font-weight: 700;
    font-size: 5rem;

    font-size: 5vw;
}

span.head2 {
    font-size: 2.5rem;

    font-size: 2.5vw;

    font-weight: 300;

    color: #5f5f5f;
}

.proj-details{
    margin-top: 2rem;
    margin-top: 2vw;

    color: #636363;
    font-weight: 300;
}

.proj-details span {
    font-size: 1.5rem !important;

    font-size: 1.5vw !important;
}

div#content {
    position: relative;
}

.sc {
	position: relative;
	margin: 2vw 0;
}

.sc img{
	position: relative;
	z-index: 4;

}

.txt {
    position: absolute;
    z-index: 5;

    border: 1px solid #c5c5c5;
    padding: 4rem;
    width: 40vw;

    height: auto;
    font-size: 2vw;
    font-weight: 300;
    color: #5f5f5f;

    right: 21vw;
    bottom: 8vw;
    background: rgba(255, 255, 255, 0.95);
}

.txt strong{
	color: #323232;
}

#c2 .txt {
    right: 40vw;
    bottom: 40vw;

}

#c2 img {
    position: relative;
    left: 47vw;
}

.c1 .txt{
	right: 7vw;
}

#cgallery img {
    width: 75vw;
    display: block;
    margin: auto;
}

.orbit {
    position: absolute;
    width: 75vw;
    left: 0;
    right: 0;
    top: 6vw;
    margin: auto;
}

.orbit-bullets button {
    width: .8vw;
    height: .8vw;
    cursor: pointer;
}

.orbit-bullets {
    position: relative;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    bottom: 4vw;
    text-align: center;
    z-index: 99;
}

.orbit-bullets button.is-active {
    background-color: #313131;
}

.orbit-container button {
    background: #323232;
    cursor: pointer;
}

section#cgallery {
    top: 2vw;
    height: 45vw;
    margin: 9vw 0;
}

.txtgal {
	border: 4px solid #323232;
	height: 10vw;
	width: 10vw;
	position: absolute;
	text-align: center;
	font-size: 2vw;
	font-weight: 700;
	left: 0;
	right: 0;
	top: -2vw;
	margin: auto;
	z-index: 99;
    background: rgba(255, 255, 255, 0.85);
}

span.galhead {
    position: relative;
    top: 2vw;
}

span.galsub {
    font-size: 1vw;
    display: block;
    font-weight: 300;
    position: relative;
    top: 2vw;
    line-height: 1vw;
}



.more-details {
    position: relative;
    bottom: 1vw;
    /* z-index: 9; */
    /* left: -1vw; */
    background: #fff;
    border: 1px solid #c5c5c5;
    padding: 1.4vw 1vw;
    /* box-shadow: 0px 0 6px rgba(50, 50, 50, 0.12); */
}

.mtitle {
    font-size: 1.4vw;
    font-weight: 700;
}

.md-title {
    width: 13vw;
    height: 8vw;
    margin: 3vw auto;
    
    display: block;
    position: relative;
    top: 4vw;
}

.row {
    max-width: 76.5vw;
}

footer#footer {
    position: relative;
    padding: 8vw;
}

#footer span {
    display: block;
    font-size: .8vw;
}

#footer a {
    font-size: .8vw;
}
